@media screen and (max-width: 1200px) {
  /* .container::before,
  .container::after {
    width: 800px;
    height: 800px;
  }

  .container::before {
    top: 0;
    left: -170px;
  }

  .container::after {
    right: -80px;
    bottom: 10px;
  } */

  #slider {
    height: 450px;
  }

  .header-content {
    width: 920px;
  }

  .block-nav a {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 920px) {
  /* .container::before,
  .container::after {
    width: 600px;
    height: 600px;
  }

  .container::before {
    top: -20px;
    left: -130px;
  }

  .container::after {
    right: -60px;
    bottom: 50px;
  } */

  #slider {
    height: 350px;
  }

  header {
    height: 60px;
  }

  .header-content {
    width: 768px;
  }

  .logo img {
    width: 76%;
    height: 55px;
  }

  .block-nav {
    padding-top: 10px;
  }

  .block-nav a {
    font-size: 0.7rem;
  }

  nav {
    padding-top: 0;
  }

  nav span {
    margin-top: 11px;
  }

  .separator {
    height: 10px;

    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }

  .menu-link span {
    margin-top: 13px;
  }
}

@media screen and (max-width: 768px) {
  /* .container::before,
  .container::after {
    width: 500px;
    height: 500px;
  }

  .container::before {
    top: 10px;
    left: -110px;
  }

  .container::after {
    right: -50px;
    bottom: 80px;
  } */

  #slider {
    max-width: 100%;
    height: 250px;
  }

  header {
    height: 55px;
  }

  .header-content {
    width: 100%;
  }

  .logo {
    width: 55%;
  }

  .logo img {
    width: 80%;
    height: 50px;
  }

  .block-nav {
    position: absolute;
    right: 0;
    left: 0;

    display: none;
    float: none;

    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;

    background-color: #fff;
  }

  .block-nav a {
    font-size: 0.6rem;
  }

  .hamburger {
    display: block;
  }

  #hamburger:checked ~ .block-nav {
    display: block;
  }

  .login,
  .cart {
    height: 15px;

    line-height: 15px;
  }

  .menu-link span {
    margin-top: 12px;
  }
}

@media screen and (max-width: 540px) {
  /* .container::before,
  .container::after {
    width: 400px;
    height: 400px;
  }

  .container::before {
    top: -40px;
    left: -90px;
  }

  .container::after {
    right: -40px;
    bottom: 50px;
  } */

  .slide-1 {
    height: 180px;
  }

  .block-nav {
    height: 130px;
  }

  .block-nav a {
    font-size: 0.75rem;
  }

  .user-data {
    padding-bottom: 10px;
  }

  .login,
  .cart {
    height: 18px;

    line-height: 18px;
  }

  .separator {
    height: 12px;
  }

  .menu-item {
    display: block;
  }

  .menu-link span {
    margin-top: 14px;
  }

  main {
    height: 1000px;
  }

  footer {
    height: 150px;
  }
}
