@font-face {
    font-family: 'High Tower Text';
    src: url('HighTowerText-Reg.woff2') format('woff2'),
        url('HighTowerText-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

